body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../assets/bkgbulles.jpeg);
  background-size: cover;
}

nav {
  color: black;
  box-shadow: 9px 20px 50px hsl(0, 68%, 17%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(to right, #ffffff, #bb2649);
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100%;
  z-index: 2;
}

.nav-left {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-left img {
  height: 40px;
  margin-right: 1px;
}

.nav-left h4 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 50px;
}
.nav-right a:hover {
  color: blue;
  text-decoration: underline;
}

nav::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -10px;
  right: -10px;
  bottom: -40px;
  z-index: -1;
  background: linear-gradient(to right, #ffffff, #bb2649);
  filter: blur(15px);
}

.intro-screen,
.countdown {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 68, 58, 0.9);
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.intro-screen {
  z-index: 9;
}

/* Styles pour les champs de formulaire et le bouton */
#user-form {
  display: flex;
  flex-direction: column;
}

#user-form input {
  margin: 5px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#start-button,
#replayButton,
#quit-button {
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#quit-button {
  position: absolute;
  top: 10%;
  left: 90%;
}

#start-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  height: auto;
}

.countdown {
  font-size: 10rem;
}

.progress-bar {
  position: fixed;
  top: 10vh;
  left: 10px;
  height: 10px;
  background: green;
  transition: width 1s linear;
}

#score-display {
  font-size: 10rem;
  color: red;
  position: fixed;
  top: 50%;
  right: 50%;
}

/* Style des bulles */
.bubble {
  z-index: 999;
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}
